<div class="killmaill-list-container">
  <cdk-table #table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="killmailId">
      <cdk-header-cell *cdkHeaderCellDef class="killmail-header-cell">
        Id
      </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="killmail-cell">
        {{ row.killmail_id }}
      </cdk-cell>
    </ng-container>

    <!-- Ship Column -->
    <ng-container cdkColumnDef="Victim">
      <cdk-header-cell *cdkHeaderCellDef class="killmail-header-cell">
        Victim
      </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="killmail-cell victim">
        <img src="{{ row.victim.ship.images.sm }}" alt="">
        {{ row.victim.ship.name }}
      </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="killmailTime">
      <cdk-header-cell *cdkHeaderCellDef class="killmail-header-cell">
        Time
      </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="killmail-cell">
        {{ row.killmail_time | date:'short' }}
      </cdk-cell>
    </ng-container>

    <!-- Progress Column -->
    <!--<ng-container cdkColumnDef="progress">-->
    <!--<cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Progress </cdk-header-cell>-->
    <!--<cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.progress}}% </cdk-cell>-->
    <!--</ng-container>-->

    <!-- Name Column -->
    <!--<ng-container cdkColumnDef="userName">-->
    <!--<cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Name </cdk-header-cell>-->
    <!--<cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.name}} </cdk-cell>-->
    <!--</ng-container>-->

    <!-- Color Column -->
    <!--<ng-container cdkColumnDef="color">-->
    <!--<cdk-header-cell *cdkHeaderCellDef class="example-header-cell">Color</cdk-header-cell>-->
    <!--<cdk-cell *cdkCellDef="let row" class="example-cell"-->
    <!--[style.color]="row.color">-->
    <!--{{row.color}}-->
    <!--</cdk-cell>-->
    <!--</ng-container>-->

    <cdk-header-row *cdkHeaderRowDef="['Victim', 'killmailTime']" class="killmail-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: ['Victim', 'killmailTime'];" class="killmail-row"></cdk-row>
  </cdk-table>
</div>



