<form [formGroup]="form" (submit)="submit()">
  <mat-card>
    <mat-form-field>
      <input matInput [matDatepicker]="fromDatePicker" formControlName="fromDate" placeholder="From date">
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="toDatePicker" formControlName="toDate" placeholder="To date">
      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button [disabled]="form.pristine">Filter</button>
  </mat-card>
</form>

<mat-card class="killmail-table">
  <mat-progress-bar *ngIf="killmailsLoading$ | async" mode="indeterminate"></mat-progress-bar>
  <app-killmails-list></app-killmails-list>
</mat-card>

